/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

:root {
    --red: #ED4E1A;
    --yellow: #ffe84a;
    --blue: #119FFF;
}

body {
    background-color: black;
}

#closed-captions {
    display: flex;
}

p {
    opacity: 0;
    transition: .05s;
    position: absolute;
    color: white;
    z-index: 99999 !important;
    top: 85%;
    width: 100%;
    text-align: center;
    font-family: 'Brenner Sans';
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}

.voice1 {
    font-style: italic;
    font-family: 'brenner mono';
    font-weight: 600;
}

.video-placeholder {
    display: block;
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.p0 span,
.p1 span,
.p2 span,
.p3 span,
.p4 span,
.p5 span,
.p6 span,
.p7 span,
.p58 span,
.p70 span,
.p72 span,
.p74 span,
.p76 span {
    opacity: 0;
}

.p0 {
    top: 85%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    opacity: 0;
}

.p0.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p0.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
}

.p0.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
}

.p0.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
}

.p0.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
}

.p0.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
}

.p0.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
}

.p0.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;
}

.p0.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0s 3s;
}

.p0.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 3.2s;
}

.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.7s;
}

/* effect text-shadow from: https://codepen.io/johndjameson/pen/grdqv */

.p1 {
    display: block;
    color: #ffe84a;
    top: 5%;
    left: 5%;
    font-size: 500%;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 0.9;
    text-align: left;
    text-shadow: 0 0 0 transparent, -1px -1px 0 #ED4E1A, 0px -1px 0 #ED4E1A, 1px -1px 0 #ED4E1A, -1px 0px 0 #ED4E1A, 0px 0px 0 #ED4E1A, 1px 0px 0 #ED4E1A, -1px 1px 0 #ED4E1A, 0px 1px 0 #ED4E1A, 1px 1px 0 #ED4E1A, 0px 0px #ED4E1A, 1px 1px #ED4E1A, 2px 2px #ED4E1A, 3px 3px #ED4E1A;
    text-transform: uppercase;
}

.p1.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p1.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
}

.p2.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p2.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .3s;
}

.p2.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .4s;
}

/* Speech bubble box from: https://codepen.io/cool_lazyboy/pen/oZdRJw */

p:nth-of-type(4) {
    top: 10%;
    left: 7%;
    width: 100px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
}

.p3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
}

.p3.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 400;
}

.p3.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
}

.p3.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    font-weight: 400;
}

.p3.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s 1.2s;
}

.p3.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.5s;
    font-weight: 400;
}

.p3.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.7s;
}

.p4 {
    top: 0%;
    right: 33%;
    text-align: center;
    width: 170px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
}

.p4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 90px;
    bottom: -19px;
}

.p4.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 400;
}

.p4.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
}

.p4.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    font-weight: 400;
}

.p4.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .8s;
}

.p4.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    font-weight: 400;
}

.p4.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.7s;
}

.p4.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 2s;
}

.p5 {
    top: 12%;
    right: 43%;
    text-align: center;
    width: 210px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
}

.p5:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p5.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p5.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    font-weight: 400;
}

.p5.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .7s;
}

.p5.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s 1.3s;
}

.p5.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.8s;
    font-weight: 400;
}

.p5.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 2.3s;
}

.p5.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 2.6s;
}

.p6 {
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 18%;
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: var(--blue);
    font-family: "Brenner sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 0.9;
    text-shadow: 0 0 0 transparent,
    -2px -2px 0 #072C44,
    0px -2px 0 #072C44,
    2px -2px 0 #072C44,
    -2px 0px 0 #072C44,
    0px 0px 0 #072C44,
    2px 0px 0 #072C44,
    -2px 2px 0 #072C44,
    0px 2px 0 #072C44,
    2px 2px 0 #072C44,
    0px 0px #072C44,
    2px 2px #072C44,
    3px 3px #072C44,
    4px 4px #072C44;
    text-transform: uppercase;
}

.p6.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p6.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
}

.p6.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .3s;
}

.p7 {
    top: 10%;
    right: 35%;
    text-align: center;
    width: 200px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p7:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p7.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p7.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
    font-weight: 400;
}

.p7.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .7s;
}

.p7.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s 1.3s;
}

.p7.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.4s;
    font-weight: 400;
}

.p7.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.8s;
}

.p7.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 2.5s;
}


.p7.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2.8s;
}

.p7.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0s 3s;
}

.p7.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 3.2s;
}

.p7.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.5s;
    font-weight: 400;
}


.p9::before,
.p12::before,
.p15::before,
.p18::before {
    content: 'cells.';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p9::after,
.p12::after,
.p18::after,
.p15::after {
    content: 'cells.';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p20::before,
.p23::before,
.p26::before,
.p29::before,
.p31::before,
.p34::before,
.p37::before {
    content: 'interlinked.';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p20::after,
.p23::after,
.p26::after,
.p29::after,
.p31::after,
.p34::after,
.p37::after {
    content: 'interlinked.';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p49::before,
.p51::before,
.p53::before {
    content: '-cells';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p49::after,
.p51::after,
.p53::after {
    content: '-cells';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p56::before {
    content: '-interlinked';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p56::after {
    content: '-interlinked';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p9,
.p12,
.p15,
.p18,
.p20,
.p23,
.p26,
.p29,
.p31,
.p34,
.p37,
.p56,
.p53,
.p51,
.p49,
.p60,
.p62,
.p64,
.p66,
.p68 {
    display: flex;
    flex-direction: column;
    top: 0%;
    text-align: center;
    width: 100%;
    font-size: 200px;
    color: #ffe84a;
    font-family: "Brenner sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 0.9;
    text-shadow: 0 0 0 transparent, -2px -2px 0 #ED4E1A, 0px -2px 0 #ED4E1A, 2px -2px 0 #ED4E1A, -2px 0px 0 #ED4E1A, 0px 0px 0 #ED4E1A, 2px 0px 0 #ED4E1A, -2px 2px 0 #ED4E1A, 0px 2px 0 #ED4E1A, 2px 2px 0 #ED4E1A, 0px 0px #ED4E1A, 2px 2px #ED4E1A, 3px 3px #ED4E1A, 4px 4px #ED4E1A;
    text-transform: uppercase;
}

.p39,
.p41,
.p42,
.p43,
.p78 {
    display: flex;
    flex-direction: column;
    top: 8%;
    text-align: center;
    width: 100%;
    font-size: 80px;
    color: #ffe84a;
    font-family: "Brenner sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 0.9;
    text-shadow: 0 0 0 transparent, -2px -2px 0 #ED4E1A, 0px -2px 0 #ED4E1A, 2px -2px 0 #ED4E1A, -2px 0px 0 #ED4E1A, 0px 0px 0 #ED4E1A, 2px 0px 0 #ED4E1A, -2px 2px 0 #ED4E1A, 0px 2px 0 #ED4E1A, 2px 2px 0 #ED4E1A, 0px 0px #ED4E1A, 2px 2px #ED4E1A, 3px 3px #ED4E1A, 4px 4px #ED4E1A;
    text-transform: uppercase;
}

.p39 {
    font-size: 140px;
}

.p41 {
    top: 0%;
    left: -30%;
}

.p42 {
    top: 20%;
    left: 0%;
}

.p43 {
    top: 40%;
    left: 30%;
}

.p47 {
    top: 12%;
    right: 40%;
    text-align: center;
    width: 100px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p47:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p48::before {
    color: black;
    font-size: 20px;
    left: 45%;
    content: 'Cells';
    position: absolute;
    top: 32%;
    color: var(--blue);
    font-size: 43px;
    position: absolute;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -3px -3px 0 #000000, 0px -3px 0 #000000, 3px -3px 0 #000000, -3px 0px 0 #000000, 0px 0px 0 #000000, 3px 0px 0 #000000, -3px 3px 0 #000000, 0px 3px 0 #000000, 3px 3px 0 #000000, 0px 0px #000000, 3px 3px #000000, 3px 3px #000000, 5px 5px #000000;
}

.p48 {
    color: transparent;
    top: 22%;
    right: -7%;
    height: 150px;
    background-image: url(img/speech_bubble.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}

.p59::before {
    color: black;
    font-size: 20px;
    left: 45%;
    content: 'Dread';
    position: absolute;
    top: 30%;
    color: var(--blue);
    font-size: 27px;
    position: absolute;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -2px -2px 0 #000000, 0px -2px 0 #000000, 2px -2px 0 #000000, -2px 0px 0 #000000, 0px 0px 0 #000000, 2px 0px 0 #000000, -2px 2px 0 #000000, 0px 2px 0 #000000, 2px 2px 0 #000000, 0px 0px #000000, 2px 2px #000000, 2px 2px #000000, 4px 4px #000000;
}


.p58 {
    top: 15%;
    right: 15%;
    text-align: center;
    width: 100px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p58:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p58.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p58.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
    font-weight: 400;
}

.p58.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .3s;
}

.p59::after {
    color: black;
    font-size: 20px;
    left: 46.5%;
    content: 'fully';
    position: absolute;
    top: 46%;
    color: var(--blue);
    font-size: 27px;
    position: absolute;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -2px -2px 0 #000000, 0px -2px 0 #000000, 2px -2px 0 #000000, -2px 0px 0 #000000, 0px 0px 0 #000000, 2px 0px 0 #000000, -2px 2px 0 #000000, 0px 2px 0 #000000, 2px 2px 0 #000000, 0px 0px #000000, 2px 2px #000000, 2px 2px #000000, 4px 4px #000000;
}

.p59 {
    color: transparent;
    top: 12%;
    left: 33%;
    height: 150px;
    background-image: url(img/speech_bubble.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}

.p60::before,
.p62::before {
    content: '-dreadfully';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p60::after,
.p62::after {
    content: '-dreadfully';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p64::before {
    content: '-distinct';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p64::after {
    content: '-distinct';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}



.p67::before {
    color: black;
    font-size: 20px;
    left: 45%;
    content: 'Dark';
    position: absolute;
    top: 32%;
    color: var(--blue);
    font-size: 43px;
    position: absolute;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -3px -3px 0 #000000, 0px -3px 0 #000000, 3px -3px 0 #000000, -3px 0px 0 #000000, 0px 0px 0 #000000, 3px 0px 0 #000000, -3px 3px 0 #000000, 0px 3px 0 #000000, 3px 3px 0 #000000, 0px 0px #000000, 3px 3px #000000, 3px 3px #000000, 5px 5px #000000;
}

.p67 {
    color: transparent;
    top: 5%;
    right: -7%;
    height: 150px;
    background-image: url(img/speech_bubble.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}

.p68::before {
    content: '-dark';
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
    margin-bottom: -90px;
    animation: text-flicker 0.2s infinite;
}

.p68::after {
    content: '-dark';
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    margin-top: -90px;
    animation: text-flicker 0.2s infinite;
}

.p70 {
    top: 5%;
    right: 43%;
    text-align: center;
    width: 150px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p70:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p70.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p70.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
    font-weight: 400;
}

.p70.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .3s;
}

.p72 {
    top: 9%;
    right: 32%;
    text-align: center;
    width: 80px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p72:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p72.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p72.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
    font-weight: 400;
}

.p72.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .3s;
}

.p74 {
    top: 15%;
    right: 20%;
    text-align: center;
    width: 100px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p74:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p74.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p74.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .3s;
    font-weight: 400;
}

.p74.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .6s;
}

.p76 {
    top: 30%;
    right: 20%;
    text-align: center;
    width: 100px;
    background: white;
    border-bottom: 4px solid black;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 4px solid black;
    filter: drop-shadow(5px 3px 0px black);
    padding: 15px;
    text-align: center;
    font-weight: 600;
    color: black;
    position: absolute;
    margin-right: 0.375rem;
    vertical-align: top;
    font-size: 12px;
}

.p76:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 40px;
    bottom: -19px;
}

.p76.on span:first-of-type {
    opacity: 1;
    transition: 0s;
}

.p76.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .2s;
    font-weight: 400;
}

.p76.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .3s;
}

.sound1 iframe {
    animation: buzz 0.06s forwards;
    animation-iteration-count: 10;
}

.sound2 {
    background: linear-gradient(270deg, #ff0000, #000000, #0049ff, #000000);
    background-size: 800% 800%;
    animation: sirine .8s ease forwards;
}

.sound4 iframe {
    animation: scale_frame .1s linear forwards;
}

.sound4::before {
    content: url(img/sound_effect_white.svg);
    animation: sounds2 1s forwards;
    transform: scale(1.5);
    left: 3%;
    top: 3%;
    position: absolute;
    z-index: 1;
}

.sound4::after {
    content: 'eeeek';
    animation: sounds2 1s forwards;
    color: var(--yellow);
    font-size: 60px;
    position: absolute;
    left: 6.5%;
    top: 14%;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -3px -3px 0 #000000, 0px -3px 0 #000000, 3px -3px 0 #000000, -3px 0px 0 #000000, 0px 0px 0 #000000, 3px 0px 0 #000000, -3px 3px 0 #000000, 0px 3px 0 #000000, 3px 3px 0 #000000, 0px 0px #000000, 3px 3px #000000, 3px 3px #000000, 5px 5px #000000;
}

.sound5 iframe {
    background-color: black;
    animation: fuck_off 3.5s forwards;
}

.sound6 iframe {
    animation: scale_frame1 .1s linear forwards;
}

.sound6::before {
    content: url(img/sound_effect_white.svg);
    animation: sounds 1s forwards;
    transform: scale(1.5);
    left: 3%;
    top: 3%;
    position: absolute;
    z-index: 1;
}

.sound6::after {
    content: 'eeeek';
    animation: sounds 1s forwards;
    color: var(--yellow);
    font-size: 60px;
    position: absolute;
    left: 6.5%;
    top: 14%;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -3px -3px 0 #000000, 0px -3px 0 #000000, 3px -3px 0 #000000, -3px 0px 0 #000000, 0px 0px 0 #000000, 3px 0px 0 #000000, -3px 3px 0 #000000, 0px 3px 0 #000000, 3px 3px 0 #000000, 0px 0px #000000, 3px 3px #000000, 3px 3px #000000, 5px 5px #000000;
}

.sound8 iframe {
    animation: scale_frame2 .1s linear forwards;
}

.sound8::before {
    content: url(img/sound_effect_white.svg);
    animation: sounds2 1s forwards;
    transform: scale(1.5);
    left: 3%;
    top: 3%;
    position: absolute;
    z-index: 1;
}

.sound8::after {
    content: 'eeeek';
    animation: sounds2 1s forwards;
    color: var(--yellow);
    font-size: 60px;
    position: absolute;
    left: 6.5%;
    top: 14%;
    z-index: 2;
    font-family: 'Brenner Slab Bold';
    text-transform: uppercase;
    transform: rotate(-10deg);
    letter-spacing: 5px;
    text-shadow: 0 0 0 transparent, -3px -3px 0 #000000, 0px -3px 0 #000000, 3px -3px 0 #000000, -3px 0px 0 #000000, 0px 0px 0 #000000, 3px 0px 0 #000000, -3px 3px 0 #000000, 0px 3px 0 #000000, 3px 3px 0 #000000, 0px 0px #000000, 3px 3px #000000, 3px 3px #000000, 5px 5px #000000;
}

.sound9 iframe {
    transform: scale(1);
}

.sound9 iframe {
    clip-path: circle(50% at 50% 50%);
    background-color: black;
    animation: circle_smaller 43s forwards;
}

.sound10 iframe {
    animation: rectlange_smaller 20s forwards;
}

.sound11 iframe {
    animation: fade_out 2s forwards;
}

@keyframes scale_frame {
    0% {
        transform: scale(1);
        filter: brightness(3)
    }
    1% {
        transform: scale(1);
        filter: brightness(3)
    }
    50% {
        filter: brightness(3)
    }
    100% {
        transform: scale(0.95);
        filter: brightness(1)
    }
}

@keyframes scale_frame1 {
    0% {
        transform: scale(.95);
        filter: brightness(3)
    }
    1% {
        transform: scale(.95);
        filter: brightness(3)
    }
    50% {
        filter: brightness(3)
    }
    100% {
        transform: scale(0.90);
        filter: brightness(1)
    }
}

@keyframes scale_frame2 {
    0% {
        transform: scale(.9);
        filter: brightness(3)
    }
    1% {
        transform: scale(0.85);
        filter: brightness(3)
    }
    50% {
        transform: scale(0.85);
        filter: brightness(3)
    }
    100% {
        transform: scale(1);
        filter: brightness(1)
    }
}

@keyframes sounds {
    0% {
        opacity: 1;
    }
    99.9999% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sounds2 {
    0% {
        opacity: 1;
    }
    99.9999% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes sirine {
    0% {
        background-position: 0% 67%;
        filter: brightness(3)
    }
    50% {
        background-position: 100% 34%;
        filter: brightness(3)
    }
    99% {
        background-position: 0% 67%;
        filter: brightness(1)
    }

    100% {
        background: linear-gradient(269deg, #000000, #000000, #000000, #000000);
        filter: brightness(1)
    }
}

@keyframes text-flicker {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rectlange_smaller {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(22% 9% 22% 9%);
        /*        clip-path: inset(0 0 0 0);*/
    }
}

@keyframes circle_smaller {
    0% {
        clip-path: circle(70.7% at 50% 50%);
    }
    99% {
        clip-path: circle(0% at 50% 50%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes buzz {
    0% {
        transform: rotate(0.5deg);
        filter: brightness(3);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    99% {
        filter: brightness(3);
    }
    100% {
        transform: rotate(0deg);
        filter: brightness(1);
    }
}

@keyframes fuck_off {
    from {
        clip-path: circle(10% at 40% 35%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fade_out {
    from {
        clip-path: inset(22% 9% 22% 9%);
    }
    to {
        clip-path: polygon(0 48%, 100% 48%, 100% 48%, 0 48%);
    }
}

@media only screen and (max-width: 600px) {
    .p3 {
        margin-top: 30%;
    }
    .p4 {
        top: 16%;
        left: 7%;
    }
    .p5 {
        top: 28%;
        left: 30%;
    }
    .p6 {
        font-size: 60px;
    }

    .p7 {
        top: 25%;
    }

    .p39,
    .p41,
    .p42,
    .p43,
    .p78 {
        font-size: 40px;
    }
    .p9,
    .p12,
    .p15,
    .p18,
    .p20,
    .p23,
    .p26,
    .p29,
    .p31,
    .p34,
    .p37,
    .p56,
    .p53,
    .p51,
    .p49,
    .p60,
    .p62,
    .p64,
    .p66,
    .p68 {
        font-size: 70px;
        top: 32%;
    }

    .p9::before,
    .p12::before,
    .p15::before,
    .p18::before {
        margin-bottom: -30px;
    }

    .p9::after,
    .p12::after,
    .p18::after,
    .p15::after {
        margin-top: -30px;
    }

    .p20::before,
    .p23::before,
    .p26::before,
    .p29::before,
    .p31::before,
    .p34::before,
    .p37::before {
        margin-bottom: -30px;
    }

    .p20::after,
    .p23::after,
    .p26::after,
    .p29::after,
    .p31::after,
    .p34::after,
    .p37::after {
        margin-top: -30px;
    }

    .p49::before,
    .p51::before,
    .p53::before {
        margin-bottom: -30px;
    }

    .p49::after,
    .p51::after,
    .p53::after {
        margin-top: -30px;
    }

    .p47 {
        top: 30%;
        left: 40%;
    }

    .p56::before {
        margin-bottom: -30px;
    }

    .p56::after {
        margin-top: -30px;
    }

    .p68::before {
        margin-bottom: -30px;
    }

    .p68::after {
        margin-top: -30px;
    }

    .p60::before,
    .p62::before {
        margin-bottom: -30px;
    }

    .p60::after,
    .p62::after {
        margin-top: -30px;
    }

    .p64::before {
        margin-bottom: -30px;
    }

    .p64::after {
        margin-top: -30px;
    }


    .p39,
    .p41,
    .p42,
    .p43,
    .p78 {
        top: 36%;
    }

    .p39 {
        top: 31%;
        font-size: 60px;
    }

    .p41 {
        top: 18%;
        left: 0%;
    }

    .p42 {
        top: 38%;
        left: 0%;
    }

    .p43 {
        top: 58%;
        left: 0%;
    }
    .p70 {
        top: 25%;
        left: 20%;
    }
    .p72 {
        top: 20%;
        left: 64%;
    }
    .p74 {
        top: 33%;
        left: 70%;

    }
    .p76 {
        top: 48%;
        left: 60%;
    }
    .p78 {
        top: 28%;
    }
    @keyframes fuck_off {
        from {
            clip-path: circle(10% at 40% 50%);
        }

        to {
            clip-path: inset(0 0 0 0);
        }
    }

}
